
{##
 # This file is part of Feather application.
 #
 # (c) William Rudent <william.rudent@gmail.com>
 #
 # Copyright © 2015 William Rudent <william.rudent@gmail.com>
 # Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 # associated documentation files (the “Software”), to deal in the Software without restriction, including
 # without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 # sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject
 # to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all copies or substantial
 # portions of the Software.
 #
 # The Software is provided “as is”, without warranty of any kind, express or implied, including but not
 # limited to the warranties of merchantability, fitness for a particular purpose and noninfringement.
 # In no event shall the authors or copyright holders be liable for any claim, damages or other liability,
 # whether in an action of contract, tort or otherwise, arising from, out of or in connection with the
 # software or the use or other dealings in the Software. »
 #}

{#
 # Extend the core layout
 #
 # @author William Rudent <william.rudent@gmail.com>
 #}
{% extends 'FeatherCoreBundle::layout.html.twig' %}

{#
 # Load specific stylesheets for this view
 #
 # @author William Rudent <william.rudent@gmail.com>
 #
 # @original Remark <amazingSurge@yahoo.com>
 #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/footable/footable.core.min.css') }}">
{% endblock %}

{#
 # Load block content for this view
 #
 # @author William Rudent <william.rudent@gmail.com>
 #
 # @original Remark <amazingSurge@yahoo.com>
 #}
{% block content %}
    <div class="page animsition">
        <div class="page-header">
            <h1 class="page-title">{{ 'page_download_center'|trans }}</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}">{{ 'breadcrumb_home'|trans }}</a></li>
                <li class="active">{{ 'breadcrumb_download_center'|trans }}</li>
            </ol>
        </div>

        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-inline padding-bottom-15">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button class="btn btn-outline btn-primary btn-sm" data-target="#add_torrent" data-toggle="modal"><i class="icon wb-plus" aria-hidden="true"></i>{{ 'page_download_table_head_add'|trans }}</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="form-group">
                                            <input id="addRemoveSearch" type="text" placeholder="{{ 'page_download_table_head_search'|trans }}" class="form-control" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="table">
                                {{ render(controller('FeatherCoreBundle:Download:table')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="add_torrent" aria-hidden="false" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">{{ 'modal.add_torrent.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{ form_start(form) }}

                            <div class="col-lg-6 form-group">
                                {{ form_widget(form.name) }}
                            </div>

                            <div class="col-lg-6 form-group">
                                {{ form_widget(form.type) }}
                            </div>

                            <div class="col-lg-12 form-group">
                                <div class="input-group input-group-file">
                                    <input type="text" class="form-control" readonly="" placeholder="{{ 'form.torrent_add.attachment.placeholder'|trans }}">
                                    <span class="input-group-btn">
                                        <span class="btn btn-success btn-file">
                                            <i class="icon wb-upload" aria-hidden="true"></i>
                                            {{ form_widget(form.attachment) }}
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12 pull-right">
                                {{ form_widget(form.add) }}
                            </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#
 # Load specific javascripts for this view
 #
 # @author William Rudent <william.rudent@gmail.com>
 #
 # @original Remark <amazingSurge@yahoo.com>
 #}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/footable/footable.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/examples/js/tables/footable.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setInterval(function(){
                $("#table").load("{{ path('list') }}");
            }, 3000);
        });
    </script>
{% endblock %}

