<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <li class="site-menu-category">{{ 'sidebar_general'|trans }}</li>

                    <li class="site-menu-item {% if app.request.get('_route') == 'dashboard' %}active{% endif %}">
                        <a class="animsition-link" href="{{ path('dashboard') }}" data-slug="dashboard">
                            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'sidebar_dashboard'|trans }}</span>
                        </a>
                    </li>

                    <li class="site-menu-category">{{ 'sidebar_medias'|trans }}</li>

                    <li class="site-menu-item {% if app.request.get('_route') == 'download' %}active{% endif %}">
                        <a class="animsition-link" href="{{ path('download') }}" data-slug="download">
                            <i class="site-menu-icon md-download" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'sidebar_download'|trans }}</span>
                        </a>
                    </li>
                    <li class="site-menu-item {% if app.request.get('_route') == 'browser' %}active{% endif %}">
                        <a class="animsition-link" href="{{ path('browser') }}" data-slug="browser">
                            <i class="site-menu-icon md-book" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'sidebar_browser'|trans }}</span>
                        </a>
                    </li>
                </ul>

                <div class="site-menubar-section">
                    <h5>{{ 'sidebar_diskusage'|trans }}
                        <span class="pull-right">{{ system.diskusage }}%</span>
                    </h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar active" style="width: {{ system.diskusage }}%;" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="Settings">
            <span class="icon wb-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
            <span class="icon wb-eye-close" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>
</div>
