
{##
 # This file is part of Feather application.
 #
 # (c) William Rudent <william.rudent@gmail.com>
 #
 # Copyright © 2015 William Rudent <william.rudent@gmail.com>
 # Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
 # associated documentation files (the “Software”), to deal in the Software without restriction, including
 # without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 # sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject
 # to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all copies or substantial
 # portions of the Software.
 #
 # The Software is provided “as is”, without warranty of any kind, express or implied, including but not
 # limited to the warranties of merchantability, fitness for a particular purpose and noninfringement.
 # In no event shall the authors or copyright holders be liable for any claim, damages or other liability,
 # whether in an action of contract, tort or otherwise, arising from, out of or in connection with the
 # software or the use or other dealings in the Software. »
 #}

{#
 # Extend the core layout
 #
 # @author William Rudent <william.rudent@gmail.com>
 #}
{% extends 'FeatherCoreBundle::layout.html.twig' %}

{#
 # Load specific stylesheets for this view
 #
 # @author William Rudent <william.rudent@gmail.com>
 #
 # @original Remark <amazingSurge@yahoo.com>
 #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/examples/css/apps/media.css') }}">
{% endblock %}

{#
 # Make specific body class for required elements
 #
 # @author William Rudent <william.rudent@gmail.com>
 #}
{% block settings %}app-media{% endblock %}

{#
 # Load block content for this view
 #
 # @author William Rudent <william.rudent@gmail.com>
 #
 # @original Remark <amazingSurge@yahoo.com>
 #}
{% block content %}
    <div class="page bg-white animsition">
        <div class="page-aside">
            <div class="page-aside-switch">
                <i class="icon wb-chevron-left" aria-hidden="true"></i>
                <i class="icon wb-chevron-right" aria-hidden="true"></i>
            </div>
            <div class="page-aside-inner">
                <section class="page-aside-section">
                    <h5 class="page-aside-title">{{ 'page_browser_category_title'|trans }}</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ path('browser', {'type': '1'}) }}"><i class="icon wb-video" aria-hidden="true"></i>{{ 'page_browser_category_1'|trans }}</a>
                        <a class="list-group-item" href="{{ path('browser', {'type': '2'}) }}"><i class="icon glyphicon glyphicon-hdd" aria-hidden="true"></i>{{ 'page_browser_category_2'|trans }}</a>
                        <a class="list-group-item" href="{{ path('browser', {'type': '3'}) }}"><i class="icon wb-camera" aria-hidden="true"></i>{{ 'page_browser_category_3'|trans }}</a>
                        <a class="list-group-item" href="{{ path('browser', {'type': '4'}) }}"><i class="icon wb-volume-high" aria-hidden="true"></i>{{ 'page_browser_category_4'|trans }}</a>
                        <a class="list-group-item" href="{{ path('browser', {'type': '5'}) }}"><i class="icon wb-image" aria-hidden="true"></i>{{ 'page_browser_category_5'|trans }}</a>
                        <a class="list-group-item" href="{{ path('browser', {'type': '6'}) }}"><i class="icon wb-play" aria-hidden="true"></i>{{ 'page_browser_category_6'|trans }}</a>
                        <a class="list-group-item" href="{{ path('browser', {'type': '7'}) }}"><i class="icon wb-book" aria-hidden="true"></i>{{ 'page_browser_category_7'|trans }}</a>
                    </div>
                </section>
            </div>
        </div>

        <div class="page-main">

            <div class="page-header">
                <h1 class="page-title">{{ 'page_browser_library_of'|trans }}
                    {% if type == constant('TYPE_DVD', media) %}
                        {{ 'page_browser_category_title_1'|trans({'type': type}) }}
                    {% elseif type == constant('TYPE_BLURAY', media) %}
                        {{ 'page_browser_category_title_2'|trans({'type': type}) }}
                    {% elseif type == constant('TYPE_SERIES', media) %}
                        {{ 'page_browser_category_title_3'|trans({'type': type}) }}
                    {% elseif type == constant('TYPE_MUSIC', media) %}
                        {{ 'page_browser_category_title_4'|trans({'type': type}) }}
                    {% elseif type == constant('TYPE_PICTURE', media) %}
                        {{ 'page_browser_category_title_5'|trans({'type': type}) }}
                    {% elseif type == constant('TYPE_GAMES', media) %}
                        {{ 'page_browser_category_title_6'|trans({'type': type}) }}
                    {% elseif type == constant('TYPE_BOOK', media) %}
                        {{ 'page_browser_category_title_7'|trans({'type': type}) }}
                    {% else %}
                        {{ 'page_browser_category_main'|trans|lower }}
                    {% endif %}
                </h1>
                <div class="page-header-actions">
                    <div class="btn-group media-arrangement" role="group">
                        <button class="btn btn-outline btn-default active" id="arrangement-grid" type="button"><i class="icon wb-grid-4" aria-hidden="true"></i></button>
                        <button class="btn btn-outline btn-default" id="arrangement-list" type="button"><i class="icon wb-list" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="page-content page-content-table" data-selectable="selectable">
                <div class="page-content-actions">
                    <div class="actions-inner"></div>
                </div>

                <div class="media-list is-grid padding-bottom-50">
                    <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
                        {% for data in transmission.datas %}
                            {% set torrent = transmission.torrent(data) %}

                            {% if data.user.id == my.user.id %}
                                {% if type == data.type or type == null %}
                                    {% if torrent.isfinished %}
                                        {% if data.isvalid %}
                                            <li>
                                                <div class="media-item" {% if data.type == constant('TYPE_DVD', media) %}data-toggle="slidePanel" data-url="{{ path('panel', {'id': data.uid}) }}"{% endif %}>
                                                    <div class="image-wrap">
                                                        {% if data.cover|length < 2 %}
                                                            <img class="image img-rounded" src="{{ asset('assets/images/types/' ~ data.cover ~ '.png') }}" alt="{{ data.name }}">
                                                        {% else %}
                                                            <img class="image img-rounded" src="{{ data.cover }}" alt="{{ data.name }}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="info-wrap">
                                                        <div class="dropdown">
                                                            <span class="icon wb-settings dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" data-animation="scale-up"></span>
                                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                                <li><a href="{{ path('download_file', {'hash': data.uid}) }}"><i class="icon wb-download" aria-hidden="true"></i>{{ 'page_browser_action_download'|trans }}</a></li>

                                                                {# {% if data.type == constant('TYPE_DVD', media) %}
                                                                    <li><a data-target="#edit_cover_{{ data.id }}" data-toggle="modal"><i class="icon wb-gallery" aria-hidden="true"></i>{{ 'page_browser_edit_cover'|trans }}</a></li>
                                                                    <li><a data-target="#edit_description" data-toggle="modal"><i class="icon wb-text" aria-hidden="true"></i>{{ 'page_browser_edit_description'|trans }}</a></li>
                                                                {% endif %} #}

                                                                <li class="divider" role="presentation"></li>
                                                                <li><a href="{{ path('delete', {'hash': data.uid, 'source': app.request.attributes.get('_route')}) }}"><i class="icon wb-trash" aria-hidden="true"></i>{{ 'page_browser_action_trash'|trans }}</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="title">{{ data.name }}</div>
                                                        <div class="time">{{ data.date|date('d/m/Y') }}</div>

                                                        <div class="media-item-actions btn-group">
                                                            <a href="{{ path('download_file', {'hash': data.uid}) }}" class="btn btn-icon btn-pure btn-default" data-original-title="{{ 'page_browser_action_download'|trans }}" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                                                <i class="icon wb-download" aria-hidden="true"></i>
                                                            </a>
                                                            <a href="{{ path('delete', {'hash': data.hash, 'source': app.request.attributes.get('_route')}) }}" class="btn btn-icon btn-pure btn-default" data-original-title="{{ 'page_browser_action_trash'|trans }}" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                                                <i class="icon wb-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            {# MODAL: EDIT COVER #}
                                            {# <div class="modal fade" id="edit_cover_{{ data.id }}" aria-hidden="false" role="dialog" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title">{{ 'modal.edit_cover.title'|trans }}</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">

                                                                {{ form_start(cover, {'action': path('edit_cover', {'hash': data.uid})}) }}

                                                                    <div class="col-lg-12 form-group">
                                                                        <div class="input-group input-group-file">
                                                                            <input type="text" class="form-control" readonly="" placeholder="{{ 'form.torrent_add.attachment.placeholder'|trans }}">
                                                                            <span class="input-group-btn">
                                                                                <span class="btn btn-success btn-file">
                                                                                    <i class="icon wb-upload" aria-hidden="true"></i>
                                                                                    {{ form_widget(cover.cover) }}
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-12 pull-right">
                                                                        {{ form_widget(cover.add) }}
                                                                    </div>

                                                                {{ form_end(cover) }}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> #}
                                            {# END MODAL: EDIT COVER #}

                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#
 # Load specific javascripts for this view
 #
 # @author William Rudent <william.rudent@gmail.com>
 #
 # @original Remark <amazingSurge@yahoo.com>
 #}
{% block javascripts %}
    {% javascripts
        'assets/js/plugins/sticky-header.min.js'
        'assets/js/components/asscrollable.min.js'
        'assets/js/app.min.js'
        'assets/js/components/animate-list.min.js'
        'assets/js/components/selectable.min.js'
        'assets/examples/js/apps/media.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
