<header class="slidePanel-header overlay" {% if browser == 'chrome' %}style="background: url({{ data.cover }});background-size: cover;"{% endif %} data-method="scroll" data-min="50">
    <div class="overlay-top overlay-panel overlay-background">
        <div class="slidePanel-actions btn-group" aria-label="actions" role="group">
            <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"aria-hidden="true"></button>
        </div>
        <h4>{{ data.name }} {% if browser == 'chrome' %}( {{ 'page_browser_streaming_not_available'|trans }} ){% endif %}</h4>
    </div>

    {% if not browser == 'chrome' %}
        {% set link = 'http://cdn.heracles.io/download/' ~ data.hash ~ '/' ~ data.filename %}

        <object classid="clsid:67DABFBF-D0AB-41fa-9C46-CC0F21721616" width="700" height="430" codebase="http://go.divx.com/plugin/DivXBrowserPlugin.cab" style="position: absolute;left: 0;right: 0;bottom: 0;z-index: -1;">
            <param name="custommode" value="none"/>
            <param name="autoPlay" value="false"/>
            <param name="src" value="{{ link }}"/>

            <embed type="video/divx" src="{{ link }}" custommode="none" width="700" height="430" autoPlay="false"  pluginspage="http://go.divx.com/plugin/download/"></embed>
        </object>
    {% endif %}
</header>

<div class="slidePanel-inner">
    <section class="slidePanel-inner-section">
        <div class="media-content">
            <p>
                {% if not data.description %}
                    {{ 'page_browser_description_not_yet'|trans }}
                {% else %}
                    {{ data.description }}
                {% endif %}
            </p>
        </div>
    </section>

    {% if messages|length > 0 %}
        <section class="slidePanel-inner-section">
            {% for message in messages %}
                <div class="media-header">
                    <div class="pull-right">
                        <div class="time">{{ message.date|date('d/m/y H:i', 'Europe/Paris') }}</div>
                    </div>
                    <a class="avatar margin-right-10" href="javascript:void(0)">
                        <img src="{{ asset('assets/portraits/21.jpg') }}" alt="{{ data.name }}">
                    </a>
                    <span class="name">{{ message.user.username }}</span>
                </div>
                <div class="media-content">
                    <p>{{ message.content }}</p>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    <div class="slidePanel-comment">
        {{ form(form) }}
    </div>
</div>



